[Unit]
Description=robot
After=multi-user.target getty.target
Wants=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/utils/robot.sh
IOSchedulingClass=1
IOSchedulingPriority=1

[Install]
WantedBy=multi-user.target
